<h1>{{ i18n 'verifycode.title' }}</h1>

<form {{ action 'verify' phoneverify on='submit' }}>
  {{#if errorMessage}}
    <div class='alert alert-error'>{{errorMessage}}</div>
    <br/>
  {{/if}}
  <div class="input">
    {{ input name='phone' value=phoneverify.phone }}&nbsp;
    {{d-button type='button' action=(action "sendVerifyCode") class='btn-primary' disable=sendDisable label='verifycode.sendverifycode'}}
  </div>

  <div class="input">
    {{ input name='code' value=phoneverify.code }}
  </div>

  <button type='submit' class='btn btn-primary'>
    {{ i18n 'verifycode.submit_label' }}
  </button>
</form>
